<footer class="boi-footer">

  <ul class="footer-list">
    <li class="footer-item">Maintained by
      {% if site.github_team %}
        {% include icon-github.html username=site.github_team %}
      {% endif%} team
    </li>
    <li class="footer-item">
      <span>Built by</span>
      {% if site.github_username %}
        {% include icon-github.html username=site.github_username %}
      {% endif%}
      <span class="hidden-msm">· Template designed by</span>
      <a class="hidden-msm" href="http://www.zcool.com.cn/u/14658910" target="_blank">@liuyumeng</a>
    </li>
    <li class="footer-item visible-msm-block" >
      <span >Template designed by</span>
      <a href="http://www.zcool.com.cn/u/14658910" target="_blank">@liuyumeng</a>
    </li>
  </ul>

</footer>
