<nav class="navbar navbar-default navbar-fixed-top boi-navbar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#index-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img class="img-responsive brand-img" alt="Boi - build for elegance" src="{{ "/assets/images/logo.png" | prepend: site.baseurl }}">
        <div class="brand-title">boi</div>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="index-navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">首页</a></li>
        <li><a href="/docs">开始使用</a></li>
        <li><a href="/boit">前后端分离</a></li>
        <li><a href="/res">资源</a></li>
        <li><a href="/about">关于我们</a></li>
      </ul>
    </div>
  </div>
</nav>
