<div class="boi-index-showcase">
  <ul class="showcase-list">
    <li class="showcase-item">
      <div class="item-thumb">
        <a target="_blank" href="https://zhoujunpeng.gitbooks.io/boi/content/docs/config.html">
          <div class="thumb-bak"></div>
          <div class="thumb-entry">
            <i class="fa fa-gears thumb-icon"></i>
            <p class="thumb-title">
              解放生产力
            </p>
          </div>
        </a>
      </div>
      <ul class="item-entry">
        <li class="entry-item">
           <a target='_blank' href="https://zhoujunpeng.gitbooks.io/boi/content/docs/start.scaffold.html">脚手架</a> /
           <a target='_blank' href="https://zhoujunpeng.gitbooks.io/boi/content/docs/config.env.html">环境配置</a>
        </li>
        <li class="entry-item">
          <a target='_blank' href="https://zhoujunpeng.gitbooks.io/boi/content/docs/lint.html">规范测试</a> /
          <a target='_blank' href="https://zhoujunpeng.gitbooks.io/boi/content/docs/modules.html">模块化开发</a>
        </li>
        <li class="entry-item">
          <a target='_blank' href="https://zhoujunpeng.gitbooks.io/boi/content/docs/config.js.html">JS</a> /
          <a target='_blank' href="https://zhoujunpeng.gitbooks.io/boi/content/docs/config.style.html">Style</a> /
          <a target='_blank' href="https://zhoujunpeng.gitbooks.io/boi/content/docs/config.html.html">HTML</a> /
          <a target='_blank' href="https://zhoujunpeng.gitbooks.io/boi/content/docs/config.image.html">图片</a>
        </li>
      </ul>
    </li>
    <li class="showcase-item">
      <div class="item-thumb">
        <a target="_blank" href="https://zhoujunpeng.gitbooks.io/boi/content/docs/deploy.html">
          <div class="thumb-bak"></div>
          <div class="thumb-entry">
            <i class="fa fa-cloud-upload thumb-icon"></i>
            <p class="thumb-title">
              流水线部署
            </p>
          </div>
        </a>
      </div>
      <ul class="item-entry">
        <li class="entry-item">
          <a target='_blank' href="https://zhoujunpeng.gitbooks.io/boi/content/docs/deploy.html">一键部署</a>
        </li>
        <li class="entry-item">
          <a target='_blank' href="https://zhoujunpeng.gitbooks.io/boi/content/docs/deploy.html#示例">部署测试环境</a>
        </li>
        <li class="entry-item">
          <a target='_blank' href="https://zhoujunpeng.gitbooks.io/boi/content/docs/deploy.html#示例">部署生成环境</a>
        </li>
      </ul>
    </li>
    <li class="showcase-item">
      <div class="item-thumb">
        <a target="_blank" href="https://zhoujunpeng.gitbooks.io/boi/content/docs/devserver.html">
          <div class="thumb-bak"></div>
          <div class="thumb-entry">
            <i class="fa fa-server thumb-icon"></i>
            <p class="thumb-title">
              本地服务器
            </p>
          </div>
        </a>
      </div>
      <ul class="item-entry">
        <li class="entry-item">
          <a target='_blank' href="https://zhoujunpeng.gitbooks.io/boi/content/docs/devserver.html">动态编译</a>
          </li>
        <li class="entry-item">
          <a target='_blank' href="https://zhoujunpeng.gitbooks.io/boi/content/docs/devserver.mock.html">Mock服务</a>
        </li>
        <li class="entry-item">
          <a target='_blank' href="https://zhoujunpeng.gitbooks.io/boi/content/docs/devserver.html">浏览器自动刷新</a>
        </li>
      </ul>
    </li>
    <li class="showcase-item">
      <div class="item-thumb">
        <a target="_blank" href="https://zhoujunpeng.gitbooks.io/boi/content/docs/advance.html">
          <div class="thumb-bak"></div>
          <div class="thumb-entry">
            <i class="fa fa-plug thumb-icon"></i>
            <p class="thumb-title">
              可定制系统
            </p>
          </div>
        </a>
      </div>
      <ul class="item-entry">
        <li class="entry-item">
          <a target='_blank' href="https://zhoujunpeng.gitbooks.io/boi/content/docs/advance.plugin.html">插件系统</a>
        </li>
        <li class="entry-item">
          <a target='_blank' href="https://zhoujunpeng.gitbooks.io/boi/content/docs/advance.scaffold.html">定制脚手架</a>
        </li>
        <li class="entry-item">
          <a target='_blank' href="https://zhoujunpeng.gitbooks.io/boi/content/docs/lint.js.html">定制代码规范</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
