<div class="boi-index-stage">
  <div class="stage-back">
    <div class="back-item back-item-1"></div>
    <div class="back-item back-item-2"></div>
  </div>
  <div class="stage-content">
    <p class="content-title">
      BOI
    </p>
    <div class="content-desc">
      <p class="desc-item desc-item-1">
        一站式前端工程解决方案
      </p>
      <!-- <p class="desc-item desc-item-2 hidden-xs">
        致力于构建
      </p> -->
    </div>
    <div class="content-badge">
      <a href="https://github.com/boijs/boi" target="_blank">
        <img src='https://img.shields.io/github/forks/boijs/boi.svg?style=social&label=Fork&style=social[GitHub forks]'/>
        <img src="https://img.shields.io/github/stars/boijs/boi.svg?style=social&label=Stars&style=social[GitHub stars]">
      </a>
    </div>
  </div>

  <div class="stage-action">
    <div class="action-cli">
      <pre class="cli-code">npm install boi -g</pre>
    </div>
    <p class="action-label">START</p>
    <div class="action-arrow"></div>
  </div>
</div>
