.boi-index-desc {
  display: flex;
  margin-top: 51px;

  .desc-entry {
    flex: 2 66.6%;
    background-color: $color-black;
    color: #fff;
    padding: 50px 60px;
    box-sizing: border-box;

    .entry-list {
      font-size: 16px;
      @include ulWithoutStyle;

      .item {
        line-height: 1.5;

        &:nth-child(1) {
          margin-bottom: 10px;
        }
      }
    }

    .entry-title {
      font-size: 30px;
      margin-bottom: 58px;
      @include strictHeight(30px);

      &::after {
        display: block;
        content: '';
        height: 2px;
        margin-top: 28px;
        background: linear-gradient(45deg, #fff, $color-black);
      }
    }
  }

  .desc-img {
    flex: 1 33.4%;
    background: url('/assets/images/bolshoi.jpg') no-repeat;
    background-size: 100% 100%;
  }

  .desc-img-xs {
    background: url("/assets/images/bolshoi.jpg") no-repeat;
    height: 0;
    padding-bottom: 50%;
    background-position: 50%, 50%;
    background-size: 100%;
  }
}

@media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
  .boi-index-desc {
    .desc-entry {
      padding: 30px 40px;

      .entry-title {
        font-size: 22px;
        margin-bottom: 40px;
        @include strictHeight(22px);

        &::after {
          margin-top: 19px;
        }
      }

      .entry-list {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .boi-index-desc {
    display: block !important;

    .desc-entry {
      padding: 15px 20px;

      .entry-title {
        font-size: 16px;
        margin-bottom: 30px;
        @include strictHeight(16px);

        &::after {
          height: 1px;
          margin-top: 14px;
        }
      }

      .entry-list {
        font-size: 12px;
      }
    }
  }
}
